.body {
    margin-right: 0;
    width: 100%;
}
.link {
    color: #ffffff;
    text-decoration: none;
    font-size: large;     
  }

.nav {
    padding-top: 10px;
    color: #ffffff;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gutter {
    padding-bottom: 25px;
}

.score {
    background-color: #f2cc8f;
    width: 350px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad {
    padding-top: 15px;
    padding-bottom: 35px;
}

.pad-little {
    padding-top: 15px; 
    padding-bottom: 15px;
}

.res-card {
    padding: 30px;
    background-color: #2f546d;
    color: white;
    width: 50%;
    border-radius: 2em;
}

.hint-box {
    width: 50%;
    background-color: #e29578 ;
    padding: 20px;
    border-radius: 12px;
}

.hint {
    background-color: rgb(191, 191, 191);
    padding: 20px;
    border-radius: 12px;
}

.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-body {
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: 30%;
    top: 30%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    border-color: black;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-page {
    height: 700px;
    width: 1000px;
}
